<?xml version="1.0"?>
<config>
  <modules>
    <ShopWeDo_EasyShipper>
      <version>0.1.2</version>
    </ShopWeDo_EasyShipper>
  </modules>
  <global>
    <helpers>
      <easyshipper>
        <class>ShopWeDo_EasyShipper_Helper</class>
      </easyshipper>
    </helpers>
	<blocks>
	  <easyshipper>
		<class>ShopWeDo_EasyShipper_Block</class>
	  </easyshipper>
	</blocks>
	<models>
	  <easyshipper>
		<class>ShopWeDo_EasyShipper_Model</class>
		<resourceModel>easyshipper_mysql4</resourceModel>
	  </easyshipper>
	</models>
	<blocks>
        <easyshipper>
            <class>ShopWeDo_EasyShipper_Block</class>
        </easyshipper>
        <adminhtml>
            <rewrite>
                <sales_order_view>ShopWeDo_EasyShipper_Block_Adminhtml_Sales_Order_View</sales_order_view>
            </rewrite>
        </adminhtml>
    </blocks>
  </global>
  <admin>
	<routers>
	  <easyshipper>
	    <use>admin</use>
		<args>
		  <module>ShopWeDo_EasyShipper</module>
		  <frontName>admin_easyshipper</frontName>
		</args>
	  </easyshipper>
	</routers>
  </admin>
  <adminhtml>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<easyshipper>
		  <file>easyshipper.xml</file>
		</easyshipper>
	  </updates>
	</layout>
  </adminhtml>
</config> 